%# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
%# Use of this source code is governed by a BSD-style license that can be
%# found in the LICENSE file.
<hr>
<p>
<i>ChromeOS local_dash v0.1</i>
</p>
