body {
  margin-bottom:50px;
}

body, td {
  font-family: Verdana, Cursor;
  font-size: 10px;
  font-weight: bold;
}

a:link,a:visited,a:active {
  color: #444;
}

a:hover {
  color: #000000;
}

table {
  border-spacing: 1px 1px;
}

table td {
  padding: 3px 0px 3px 0px;
  text-align: center;
}

.closerbox {
  border: 1px solid #aaa;
  background-color: #eef;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.closerbox table {
  padding: 0 4px;
}

.closerbox .title {
  background-color: #ccc;
  border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  padding: 0 0 2px;
}

.Project {
  width: 100px;
}

.LastBuild, .Activity {
  padding: 0 0 0 4px;
}

.LastBuild, .Activity, .Builder, .BuildStep {
  width: 155px;
  max-width: 155px;
}

/* Chromium Specific styles */
div.BuildResultInfo {
  color: #444;
}

div.Announcement {
  margin-bottom: 1em;
}

div.Announcement > a:hover {
  color: black;
}

div.Announcement > div.Notice {
  background-color: #afdaff;
  padding: 0.5em;
  font-size: 16px;
  text-align: center;
}

div.Announcement > div.Open {
  border: 3px solid #8fdf5f;
  padding: 0.5em;
  font-size: 16px;
  text-align: center;
}

div.Announcement > div.Closed {
  border: 5px solid #e98080;
  padding: 0.5em;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

td.Time {
  color: #000;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
}

td.Activity, td.Change, td.Builder {
  color: #333333;
  background-color: #CCCCCC;
}

td.Change {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
td.Event {
  color: #777;
  background-color: #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

td.Activity {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  min-height: 20px;
  padding: 2px 0 2px 0;
}

td.idle, td.waiting, td.offline, td.building {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
}

.LastBuild {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

/* Console view styles */

td.DevRev {
  padding: 4px 8px 4px 8px;
  color: #333333;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  background-color: #eee;
  width: 1%;
}

td.DevRevCollapse {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

td.DevName {
  padding: 4px 8px 4px 8px;
  color: #333333;
  background-color: #eee;
  width: 1%;
  text-align: left;
}

td.DevStatus {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #eee;
}

td.DevSlave {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #eee;
}

td.first {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
}

td.last {
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

td.DevStatusCategory {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width:1px;
  border-style:solid;
}

td.DevStatusCollapse {
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}

td.DevDetails {
  font-weight: normal;
  padding: 8px 8px 8px 8px;
  color: #333333;
  background-color: #eee;
  text-align: left;
}

td.DevComment {
  font-weight: normal;
  padding: 8px 8px 8px 8px;
  color: #333333;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  background-color: #eee;
  text-align: left;
}

td.Alt {
  background-color: #CCCCCC;
}

.legend {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 100px;
  max-width: 100px;
  text-align:center;
  padding: 2px 2px 2px 2px;
  height:14px;
  white-space:nowrap;
}

.DevStatusBox {
  text-align:center;
  height:20px;
  padding:0 2px;
  line-height:0;
  white-space:nowrap;
}

.DevStatusBox a {
  opacity: 0.85;
  border-width:1px;
  border-style:solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display:block;
  width:90%;
  height:20px;
  line-height:20px;
  margin-left: auto;
  margin-right: auto;
}

.TestName {
  height: 130px;
  text-align: center;
  position: relative;
}

.TestNameDiv {
  -webkit-transform: rotate(270deg);
  font-weight: normal;
  text-align: left;
  overflow: hidden;
  width: 130px;
  top: 50%;
  left: 50%;
  margin: -6px -65px;
  position: absolute;
}

.DevSlaveBox {
  text-align:center;
  height:10px;
  padding:0 2px;
  line-height:0;
  white-space:nowrap;
}

.DevSlaveBox a {
  opacity: 0.85;
  border-width:1px;
  border-style:solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display:block;
  width:90%;
  height:10px;
  line-height:20px;
  margin-left: auto;
  margin-right: auto;
}

a.noround {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  position: relative;
  margin-top: -8px;
  margin-bottom: -8px;
  height: 36px;
  border-top-width: 0;
  border-bottom-width: 0;
}

a.begin {
  border-top-width:1px;
  position: relative;
  margin-top: 0px;
  margin-bottom: -7px;
  height: 27px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

a.end {
  border-bottom-width:1px;
  position: relative;
  margin-top: -7px;
  margin-bottom: 0px;
  height: 27px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.center_align {
  text-align: center;
}

.right_align {
  text-align: right;
}

.left_align {
  text-align: left;
}

div.BuildWaterfall {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #FFFFFF;
  padding: 4px 4px 4px 4px;
  float: left;
  display: none;
  border-width: 1px;
  border-style: solid;
}

/* LastBuild, BuildStep states */
.success {
  color: #FFFFFF;
  background-color: #8fdf5f;
  border-color: #4F8530;
}

.failure {
  color: #FFFFFF;
  background-color: #e98080;
  border-color: #A77272;
}

.testna {
  color: #FFFFFF;
  background-color: #F5E269;
  border-color: #BFB052;
}

.warnings {
  color: #FFFFFF;
  background-color: #ffc343;
  border-color: #C29D46;
}

.never {
  color: #FFFFFF;
  background-color: #f0f0e0;
  border-color: #A77272;
}

.exception, .offline, .retry {
  color: #FFFFFF;
  background-color: #e0b0ff;
  border-color: #ACA0B3;
}

.start,.running, td.building {
  color: #666666;
  background-color: #fffc6c;
  border-color: #C5C56D;
}

.running_failure {
  color: #FFFFFF;
  background-color: #fffc6c;
  border-color: #ff0000;
}

.start {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}

.notstarted {
  border-width:1px;
  border-style:solid;
  border-color:#aaa;
}

.closed {
  background-color: #ff0000;
}

.closed .large {
  font-size: 1.5em;
  font-weight: bolder;
}

td.Project a:hover, td.start a:hover {
  color: #000;
}

.mini-box {
  text-align:center;
  height:20px;
  padding:0 2px;
  line-height:0;
  white-space:nowrap;
}

.mini-box a {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  display:block;
  width:100%;
  height:20px;
  line-height:20px;
  margin-top:-30px;
}

.mini-closed {
  -box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:4px solid red;
}

/* grid styles */

table.Grid {
  border-collapse: collapse;
}

table.Grid tr td {
  padding: 0.2em;
  margin: 0px;
  text-align: center;
}

table.Grid tr td.title {
  font-size: 90%;
  border-right: 1px gray solid;
  border-bottom: 1px gray solid;
}

table.Grid tr td.sourcestamp {
  font-size: 90%;
}

table.Grid tr td.builder {
  text-align: right;
  font-size: 90%;
}

table.Grid tr td.build {
  border: 1px gray solid;
}

div.data {
  font-family: "Courier New", courier, monotype;
}

span.stdout, span.stderr, span.header {
  font-family: "Courier New", courier, monotype;
  font-size: 16px;
  font-weight: normal;
}

span.stderr {
  color: red;
}

span.header {
  color: blue;
}

a.info {
  position:relative; /*this is the key*/
  opacity: 1.0;
  z-index:1
  color:#000;
  font-weight:normal;
}
a.info span {
  z-index: 25;
  display: none;
  position:fixed;
  top:1em; left:1em;
  min-width: 200px;
  max-width: 600px;
  overflow: auto;
  color:#000;
  background: #FFFFAA; border: 1px solid #FFAD33;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.2em 0 0.6em 0;
  word-wrap: break-word;
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
